.image-text-container {
    display: flex;
    padding: 0 !important;
    margin-top: 20px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }

    img {
        margin-right: 20px;
        margin-bottom: 20px;

        max-width: 100%;

        @media only screen and (max-width: 768px) {
            margin: 0;
        }
    }

    div {
        margin: 0;
    }
}