.form {
    .input-container {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;

        label {
            font-size: var(--font-size);
            margin-bottom: 4px;
        }

        input, select {
            height: 30px;

            border: 1px solid var(--color-black);
            border-radius: var(--border-radius-small);

            margin-bottom: 4px;
            padding: 5px;

            &:focus-visible {
                outline: var(--color-black) solid 1px;
            }
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0;
            }

            input {
                margin: 0;
                height: auto;
            }
        }

        .error-message {
            color: var(--color-red);
            font-size: 14px;

            padding-top: 2px;
        }
    }

    button {
        width: 100%;

        font-size: var(--font-size);
        font-weight: 600;

        color: var(--color-white);

        padding: 10px 20px;

        border: none;
        border-radius: var(--border-radius-normal);
        box-shadow: var(--box-shadow);

        background-color: var(--color-blue);

        &:hover {
            background-color: var(--color-blue-darken);
        }
    }
}