.assign-option {
    width: 100%;

    border: 1px solid var(--color-black);
    border-radius: var(--border-radius-normal);

    box-shadow: var(--box-shadow);

    font-size: var(--font-size-h3);
    color: var(--color-red);

    margin-bottom: 20px;

    &.vote .radio-container{
        background-color: rgba(132, 204, 22, 0.4);
    }

    .sub-options {
        background-color: var(--color-white);
        margin: 20px;

        hr {
            margin: 5px 0;
        }

        h4 {
            padding: 10px 20px;
            margin: 0;
        }

        label {
            padding: 20px 80px;
        }

        .sub-option {
            .checkmark {
                margin-left: 20px !important;

            }

            &.vote {
                background-color: rgba(132, 204, 22, 0.4);
            }
        }
    }

    label {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        padding: 20px 60px;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 50%;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: var(--color-gray);
            border-radius: var(--border-radius-small);

            transform: translateY(-50%);

            margin-left: 20px !important;

            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        input:checked ~ .radiomark:after,
        input:checked ~ .checkmark:after {
            display: block;
        }

        .radiomark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

        .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

        input:checked ~ .radiomark,
        input:checked ~ .checkmark {
            background-color: var(--color-blue);
        }

        &:hover{
            color: var(--color-red-darken);
            background-color: var(--color-gray-light);

            input ~ .radiomark,
            input ~ .checkmark {
                background-color: var(--color-gray-darken);

            }
        }

        &:has(input:disabled) {
            background-color: var(--color-gray-light);
        }
    }
}