.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 20px 50px;

    background-color: var(--color-white);

    box-shadow: var(--box-shadow);

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        padding: 20px;
    }

    .logo-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            gap: 20px;

            h1 {
                margin: 0;

                color: var(--color-blue);

                font-size: 40px;
            }

            img {
                height: 45px;
                width: auto;
                -webkit-filter: drop-shadow(5px 5px 5px #222222);
                filter: drop-shadow(5px 5px 5px #222222);
            }
        }

        .icon {
            display: none;

            @media only screen and (max-width: 768px) {
                display: flex;
                align-items: center;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .links {
        display: flex;
        gap: 10px;

        @media only screen and (max-width: 768px) {
            display: none;
            width: 100%;
            flex-direction: column;
            margin-top: 20px;
        }

        a {
            font-size: 20px;
            color: var(--color-text);
        }

        a:hover {
            color: var(--color-red);
        }

        button {
            padding: 0;
            font-size: 20px;
            color: var(--color-text);
            border: none;
            background-color: transparent;
            text-align: left;
        }

        button:hover {
            cursor: pointer;
            color: var(--color-red);
        }

        .active {
            color: var(--color-red);
        }

        span {
            margin-top: 4px;
            cursor: default;
        }

        .slash {
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .show {
        display: flex !important;
    }
}
