.file-input-container  {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

    .file-input  {
        height: auto !important;
        width: 100%;

        padding: 0 !important;
        margin: 0 !important;

        border-radius: var(--border-radius-normal);
        box-shadow: var(--box-shadow);

        &::file-selector-button{
            height: 100%;
            width: 100%;

            border: none;

            color: var(--color-white);
            background-color: var(--color-blue);

            font-size: var(--font-size);
            font-weight: 600;
            padding: 10px 20px;

            &:hover {
                background-color: var(--color-blue-darken);
            }
        }
    }

    .file-preview {
        width: 100%;

        span {
            font-size: var(--font-size-small);
        }


        .file-input-preview {
            width: 100%;

            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            gap: 20px;

            div {
                width: calc(10% - 18px);

                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    right: 0;

                    margin: 2px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}