.table-container {
    overflow-x: auto;
    padding: 0 !important;

    .table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: var(--box-shadow);

        td, th {
            border: 1px solid var(--color-black);
            text-align: center;
            padding: 8px;

            a {
                color: var(--color-red);
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: var(--color-red-darken);
                }
            }
        }

        th {
            color: var(--color-white);
            background-color: var(--color-blue);
        }

        tr:hover {
            background-color: var(--color-gray-light);
        }
    }
}