:root {
    --font-size: 16px;
    --font-size-h1: 27px;
    --font-size-h2: 21px;

    --color-white: #ffffff;

    --color-black: #000000;

    --color-gray: #BEBEBE;
    --color-gray-light: #DCDCDC;

    --color-red-darken: #a20e13;
    --color-red: #d7141a;

    --color-blue-darken: #0e3867;
    --color-blue: #11457e;

    --color-text: var(--color-black-2);

    --border-radius-small: 3px;
    --border-radius-normal: 5px;

    --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
